<h1 id="title">Stupid Coaching</h1>
<p id="sub-title">Ask your coach anything:</p>
<form action="/answer">
  <input type="text" class="answer" name="input">
  <input type="submit" class="ask" value= "Ask">
</form>